

body {


    margin: 0;
    padding: 0;
    
    color: white;
    
    
        
    
    height: 100vh;
    
  }
  body {
    background-color: #2c2c2c;
    background-image: radial-gradient(circle at 1px 1px, #3e3e3e 1px, transparent 0), 
                      radial-gradient(circle at 3px 3px, #3e3e3e 1px, transparent 0);
    background-size: 40px 40px;
  }
  
  .oculto{
    color: #2c2c2c;
    z-index: 9999999;
  }

  .float {
    font-size: 24px;
    animation: float 6s ease-in-out infinite;
  }
  
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  
  

  .container {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

   nav-bar{
    margin: 2%;
    width: 100px;
    box-sizing: border-box;
    border-radius: 1cm;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 94vh;
  }

  .sidebar{
    z-index: 9999;
    margin: 0;
    width: 100px;
    background-color: #1e1e1e;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 1cm;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 94vh;
  }

  .sidebar button {
    z-index: 99990;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: rgb(177, 177, 177);
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s;
    padding: 0;
  }

  .sidebar button:hover {
    color: #fff;
  }

  .sidebar button svg {
    width: 42px;
    height: 42px;
    fill: currentColor;
  }


  
  @media (min-width: 768px) {
    
  }
  
  @media (max-width: 768px) {
    body.modo-oscuro p {
        color: #e0e0e0; /* o #f5f5f5, algo claro */
      }
    .sidebar {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 70px;
      border-radius: 0;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0 10px;
      z-index: 10000;
    }
  
    .sidebar button {
      flex: unset;
    }
  
    .oculto {
      display: none;
    }
  
    .container {
        padding: 0; 
    align-items: flex-start;
    justify-content: flex-start;
      }
    
      .container h1 {
        z-index: 99999999999;
        margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
      }

      nav-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 70px;
        border-radius: 0;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 10px;
        z-index: 10000;
      }

      #otw {
        position: fixed;
        bottom: 130px; 
        left: 50%;
        transform: translateX(-50%);
        /*background-color: #1e1e1e;*/
        
        padding: 6px 14px;
        border-radius: 1cm;
        z-index: 10002;
        font-size: 12px;
        text-align: center;
        box-shadow: 0 0 8px rgba(0,0,0,0.5);
        animation: float2 2.5s ease-in-out infinite;
      }

      @keyframes float2 {
        0%   { transform: translateX(-50%) translateY(0); }
        50%  { transform: translateX(-50%) translateY(-10px); }
        100% { transform: translateX(-50%) translateY(0); }
    }

      

      #onlymov {
        display: block; 
        position: fixed;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        /*background-color: #1e1e1e;*/
        padding: 2px 2px;
        border-radius: 0.5cm;
        z-index: 10002;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        margin:0;
        width: 300px;  
        max-width: 90vw;
    
      }
      #onlymov p {
        font-size: 14px ; 
        margin: 14px 0;
        animation: none
      }


      
      .buildings{
        margin-bottom: 50px;
        
      }
      .blur-gradient {
        position: absolute;
        inset: 0;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        pointer-events: none;
        z-index: 0;
      
        /* Máscara que hace que el blur vaya de menos (arriba) a más (abajo) */
        mask-image: linear-gradient(to bottom, transparent 0%, black 100%);
        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 100%);
      }
      
  }
  
  
.buildings svg{
    margin-bottom: 2%;
}
  
  

  .content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items:normal;
    font-size: 2rem;
  }

  .typed-text {
    color: #E97B27;
  }

  .cursor {
    display: inline-block;
    background-color: #fff;
    width: 2px;
    margin-left: 2px;
    animation: blink 0.7s steps(1) infinite;
  }

  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }

  .blur-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 0;
  }
  
  .blur-effect {
    position: absolute;
    width: 180px;
    height: 180px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    filter: blur(25px);
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 1.5s ease, opacity 0.5s ease;
    will-change: transform, opacity;
    z-index: 99999;
  }
  
  
  .content {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 20px;
    padding: 20px;
  }
  
  
  .bottom-row {
    margin-top: auto; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
  }

  #otw {
    display: inline-block;     
    border: 2px solid white;
    padding: 4px 8px;
    border-radius: 6px;
    background-color: transparent;
    margin: 0;
    width: auto !important;
    border-radius: 1cm;
    border-color: #2c2c2c;
    border-style: solid;
    margin-bottom: 1%;
  }

  #otw p {
    margin: 0;
    display: inline;
  }
  


  .circle-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 280px;
    transform: translate(-50%, -50%);
    z-index: 10;
    pointer-events: none;
  }
  
  .central-circle {
    width: 280px;
    height: 280px;
    background-color: #E97B27;
    border-radius: 50%;
    position: relative;
    z-index: 11;
  }
  
  /* Círculos animados */.animated-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  animation: pop 0.6s ease-out forwards;
  opacity: 0;
  font-size: 16px;
  font-weight: bold;
  z-index: 10;
}

@keyframes pop {
  from {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  to {
    transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y))) scale(1);
    opacity: 1;
  }
}

.circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    z-index: 12; /* Asegura que esté por encima del fondo del círculo */
    pointer-events: none; /* Por si quieres que no interfiera con clics */
  }
  .light-none{
    display:none;
  }

  @media (max-width: 768px) {
    .circle-container {
      width: 220px;
      height: 220px;
    }

    .central-circle {
        width: 220px;
        height: 220px;
      }

      .oculto {
        display: none ;
      }
      #terminal{
        display: none;
      }

      .light-none{
        display:block;
      }
}

.buildings {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px; /* espacio entre los edificios */
    background: transparent; /* opcional */
    z-index: 10; /* por si necesitas que estén encima de otros elementos */
    padding: 10px 0;
  }
  
  .buildings svg {
    width: 100px;
    height: 100px;
    
  }
  
  
    
  .icon-mobile {
    display: none;
  }
  .icon-desktop {
    display: inline;
  }
  
  @media (max-width: 768px) {
    .icon-mobile {
      display: inline;
    }
    .icon-desktop {
      display: none;
    }
    .none-movile{
        display:none;
    }

   
  }


  #dynamic-content {
    margin-bottom: 130px; /* espacio para que no se solape con los edificios */
  }
  

  @keyframes jump {
    0% { transform: translateY(0); }
    30% { transform: translateY(-10px); }
    60% { transform: translateY(0); }
    100% { transform: translateY(0); }
  }
  
  .buildings .building {
    animation: jump 0.5s ease-out forwards;
    animation-fill-mode: both;
    opacity: 0;
  }
  
  .buildings .building:nth-child(2) {
    animation-delay: 1s;
  }
  .buildings .building:nth-child(3) {
    animation-delay: 1.25s;
  }
  .buildings .building:nth-child(4) {
    animation-delay: 1.5s;
  }
  .buildings .building:nth-child(5) {
    animation-delay: 1.75s;
  }
  .buildings .building:nth-child(6) {
    animation-delay: 2s;
  }
  
  /* Esto asegura que comiencen al cargar la página */
  .buildings .building {
    animation-play-state: running;
    opacity: 1;
  }
  
  .info-icon {
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #007bff;
    font-size: 100px;
    z-index: 2;
    width: 100px;
    height: 100px;
  }
  
  /* SVG ocupa todo el contenedor */
  .info-icon svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  /* Contenedor del círculo alrededor del icono */
  .info-circle {
    z-index: 20;
    pointer-events: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 480px;
    height: 480px;
    transform: translate(-50%, -50%);
  }
  
  
  /* Cada info-item va en una posición angular */
  .info-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%;
    transform:
      rotate(var(--angle))
      translate(250px)
      rotate(calc(-1 * var(--angle)))
      translate(-50%, -50%);
    white-space: nowrap;
  
    pointer-events: auto;
    user-select: text;
  }
  
  
  
  /* Estilo para los enlaces */
  .info-item a {
    text-decoration: none;
    background: white;
    padding: 6px 12px;
    border-radius: 20px;
    color: #333;
    font-size: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  
    pointer-events: auto;   
    user-select: text;      
  }
  
  .info-item a:hover {
    background: #007bff;
    color: white;
  }

  .info-center-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  

  
  
  .info-circle {
    border-radius: 100%;
    border: 2px dashed blue;
  }


  @media (max-width: 768px) {
    .info-item {

        transform:
          rotate(var(--angle))
          translate(150px)
          rotate(calc(-1 * var(--angle)))
          translate(-50%, -50%);
    }

    .info-circle {
        
        width: 300px;
        height: 300px;
      }

      .info-center-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }

  }
  

  a {
    pointer-events: auto;
  }

  #bajo{
    z-index: 0;
  }



  