body{
    margin: 0;
    left: 0;
    top:0;
    background: linear-gradient(0deg, #000000, #444444, #afb3b6);
}



.container-fluid{
  padding: 0% 5%;
}

#mini-logo{
  width: 40px;
}
.navbar{
  z-index: 9999999;
}

.lead{
  padding-left: 10%;
  padding-right: 10%;
}
.accordion-body {
  display: flex;
  align-items: flex-start;
  gap: 1rem; 
}

.accordion-body img {
  order: 2;
  max-width: 150px; 
  height: auto;
}

.accordion-body p {
  order: 1;
  flex: 1;
}


.container.my-4{
  padding: 30px;
}

#barreñologo {
  background-color: rgba(0, 0, 0, 0);
  z-index: 999999;
  position: absolute;
  width: 30vw;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
}

.card img {
  min-height: 700px;
  object-fit: cover;
  width: 100%;
}

.card-body {
  height: 175px;
}

.nav-link{
  
  color:#ccc;
}
.nav-link.active{
  background-color: none!important;
}

.carousel-caption p{
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 500px;
  margin: 0 auto;
  color:white;
}

#precio{
  max-width: 1000px;
  margin: 0 auto;
}
.accordion.accordion-flush{
  max-width: 1000px;
  margin: 0 auto;
}

.list-group-item{
  
  color: white;
}

h1 {
    text-align:center;
    margin:25px;
}
#carouselExampleCaptions {
    height: 100vh; 
  }

  .carousel-item {
    height: 100vh; 
  }

  .carousel-item img {
    object-fit: cover; 
    width: 100%;
    height: 100vh; 
  }


  ul.list-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    margin: 0 auto;
    max-width: 1000px;
    width: 80%;
}

ul.list-group .list-group-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
}




  .folder-container {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin: 0;
    padding: 0;
  }

  .folder {
    max-width: 1000px;
    margin: 0;
    width: 80%;
    border: 3px solid #ccc;
    border-radius: 10px;
    display: flex;
    margin-bottom: 0;
    margin-left: 0px;;
  }

  .folder-nav {
    
    width: 25%;
    background-color: #f8f9fa;
    border-right: 2px solid #ccc;
  }

  .folder-content {
    
    width: 75%;
    padding: 10px;
  }

  .folder-nav button {
    text-align: left;
  }


  .tab-content {
    padding: 10px;
  }


    @media (max-width: 768px) {
      #desaparece{
        display: none;
      }
      #barreñologo {
        width: 70vw;
      }
    }



